/*
==============================
==============================
Theme : Vodafome Copy;
Auther: Om prakash sah;
Email: omkolkata33@gmail.com;
==============================
==============================
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:100i,300,300i,400,400i,500,500i,700,700i,900&display=swap");
:root {
  --theme-color: #e60000;
}

body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.lodaed-benifits .heading, .exclusive-treates .heading {
  padding: 10px 0;
  text-align: center;
  margin-bottom: 30px;
}

.lodaed-benifits .heading h2, .exclusive-treates .heading h2 {
  font-size: 1.5rem;
  color: #e60000;
  font-weight: 400;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
  max-height: 50px;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.header .navbar {
  padding: 0;
  height: 50px;
}

.header .navbar .navigation {
  margin: 0 -15px;
}

.header .navbar .navigation .navbar-nav {
  height: 50px;
}

.header .navbar .navigation .navbar-nav .nav-item .nav-link {
  padding: calc((50px - 22px)/2) 22px calc((50px - 28px)/2) 22px;
  color: #4c4b4b;
  border-bottom: 2px solid transparent;
}

.header .navbar .navigation .navbar-nav .nav-item .nav-link:hover {
  color: #000;
  border-color: #e60000;
  font-weight: 400;
}

.herocarousel .carousel-indicators li {
  width: 8px;
  height: 8px;
  border-radius: 50% !important;
}

.herocarousel .carousel-indicators li.active {
  width: 16px;
  border-radius: 20px !important;
}

.quick-recharge h2 {
  font-weight: 400 !important;
  font-size: 1.5rem;
}

.quick-recharge h2 span {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
}

.quick-recharge .form-control, .quick-recharge .btn {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0.5rem;
  border-color: #000;
  padding: 12px 10px;
  height: auto;
}

.quick-recharge .w-100 {
  width: 100px !important;
}

.quick-links .quick-links-inner .link-icon {
  width: 72px;
  height: 72px;
  -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

.quick-links .quick-links-inner .link-icon img {
  width: 40px;
  height: 40px;
}

.quick-links .link_label {
  padding: 1.2rem;
  padding-top: 0;
}

.quick-links .link_label a {
  display: block;
  text-align: center;
  color: #000;
  font-size: 1.25rem;
}

.permotional-cards {
  margin-top: 50px;
  margin-bottom: 25px;
}

.permotional-cards .cards-inner {
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
  background-color: var(--white);
  padding: 25px;
  min-height: 170px;
  margin-bottom: 32px;
}

.permotional-cards .circle {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f5f6f8;
}

.permotional-cards .content h3 {
  font-size: 1.25rem;
  font-weight: 400;
}

.permotional-cards .content a {
  line-height: 1.5;
  display: inline-block;
  color: #e60000;
  position: relative;
}

.permotional-cards .content a:hover {
  text-decoration: none;
}

.permotional-cards .content a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #e60000;
}

.lodaed-benifits {
  margin-top: 50px;
  margin-bottom: 50px;
}

.lodaed-benifits .benifit-icon img {
  width: 64px;
  height: 64px;
}

.lodaed-benifits .benifit-label {
  color: #000;
  font-weight: 400;
  font-size: 1.25rem;
  padding: 1.25rem;
  text-align: center;
}

.exclusive-treates {
  margin-top: 50px;
  margin-bottom: 50px;
}

.exclusive-treates .card {
  -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.14);
          box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.14);
  border-radius: 8px;
  padding: 16px;
  min-height: 460px;
  text-align: center;
  margin: 8px;
}

.exclusive-treates .card .item-img {
  border-radius: inherit;
  margin-bottom: 15px;
}

.exclusive-treates .card .item-img img {
  border-radius: inherit;
}

.exclusive-treates .card .card-content .card-title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.exclusive-treates .card .card-content .card-text {
  color: #000;
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.app-banner {
  margin-top: 50px;
  margin-bottom: 50px;
}

.app-banner .content {
  padding: 0 50px;
}

.footer .footer-top {
  border-top: 1px solid #e60000;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 20px;
}

.footer .footer-top .card-inner h4 {
  font-size: 1rem;
  color: #000;
}

.footer .footer-top .card-inner ul li a {
  color: #222;
}
/*# sourceMappingURL=style.css.map */